/*Fonts*/
@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
         url(../fonts/roboto.woff2) format("woff2"),
         url(../fonts/roboto.woff) format("woff");
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
         url(../fonts/robotomedium.woff2) format("woff2"),
         url(../fonts/robotomedium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
  }
@font-face {
      font-family: "Roboto";
      src: local("Roboto"),
           url(../fonts/robotobold.woff2) format("woff2"),
           url(../fonts/robotobold.woff) format("woff");
      font-weight: 700;
      font-style: normal;
    }

html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    background-color: #fff;
  }
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}
.header {
    background-color: #CCC;
}
.header-wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-name {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    margin: 0;
    align-self: center;
}
.contacts {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    align-items: center;
}
.contacts__link {
    margin: 0;
    padding: 0;
    height: 30px;
    min-width: 30px;
    line-height: 30px;
    margin-right: 20px;
}
.contacts__link:last-child {
    margin-right: 0;
}
.main-page {
    padding-top: 5px;
}
.main-heading {
    margin: 1.5em 0;
    line-height: 1.1em;
}
.works__termin {
    margin-top: 1.3em;
}
.works__description {
    position: relative;
}
.works__description::before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background: url(../images/check-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    top: 3px;
    left: -20px;
}
.footer {
    background-color: #a3a3a3;
    padding-top: 35px;
    padding-bottom: 35px;
}
.contacts--footer {
    justify-content: center;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  @media screen and (max-width: 425px) {
      .header-wrapper {
          justify-content: center;
      }
      .contacts {
          margin-top: 25px;
      }
      .main-heading {
        margin: 1em 0;
        text-align: center;
      }
      
  }